[Unit]
Description=Run Klipper Farm reconcile every 30 seconds

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=klipper-farm-reconcile.service
Persistent=true

[Install]
WantedBy=timers.target
